script(src="https://lightning.filipmartinsson.com/modal/btcpay.js")
script(type='text/javascript').
  window.onload = function(){
    var id = "#{invoiceId}"
    window.btcpay.showInvoice(id);
    
    window.btcpay.onModalWillLeave(function(){
      window.location.href = "invoice/" + id;
      //localhost:3000/invoice/{invoiceId}
    })
  }
